.open-dialog {
    width: 100%;
    border: 1.25px dashed #1b1c1d;
    border-radius: 5px;
    text-align: center;
    margin: 8px 0;
    padding: 12px 8px;
    cursor: pointer;
    transition: box-shadow .2s ease;

    &:hover,
    &--active {
        box-shadow: inset 0 0 7.5px 1px rgba(0, 0, 0, 0.25);
    }

    & input[type="file"] {
        display: none;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            label {
                display: block;
                font-size: 1.1rem;
                margin-left: 16px;
                text-align: left;
                user-select: none;
                cursor: pointer;
            }

            label:nth-child(2) {
                font-size: 0.9rem;
            }
        }
    }
}