//--------------------------------------------------------------------------
// СЛАЙДЕР
//--------------------------------------------------------------------------

// БАР
$bar-height: 4px;
$bar-bg-color: #FBBD08;
$bar-border: 0 solid #CCCCCC;
$bar-border-rad: 4px;
$bar-shadow: 0.5px 0.5px 1px 0px #222222;

// БЕГУНОК
$thump-width: 15px;
$thumb-bg-color: #FFFFFF;
$thump-height: $thump-width;
$thumb-border: 1px solid #d4d4d4;
$thumb-border-rad: 20px;
$thumb-shadow: 0px 0px 0px #000000;

@mixin thumb-style {
    appearance: none;
    width: $thump-width;
    height: $thump-height;
    background: $thumb-bg-color;
    border: $thumb-border;
    border-radius: $thumb-border-rad;
    box-shadow: $thumb-shadow;
    cursor: pointer;
}

input[type=range] {
    appearance: none;
    width: 100%;
    height: $bar-height;
    background-color: $bar-bg-color;
    border: $bar-border;
    border-radius: $bar-border-rad;
    box-shadow: $bar-shadow;
    opacity: 0.85;
    transition: opacity .2s;
    outline: none;

    &:hover {
        opacity: 1;
    }

    &::-webkit-slider-thumb {
        @include thumb-style;
    }

    &::-moz-range-thumb {
        @include thumb-style;
    }
}